[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = https://github.com/magit/magit.git
[submodule "site-lisp/multiple-cursors.el"]
	path = site-lisp/multiple-cursors.el
	url = https://github.com/magnars/multiple-cursors.el.git
