[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = https://github.com/magit/magit.git
[submodule "site-lisp/god-mode"]
	path = site-lisp/god-mode
	url = https://github.com/chrisdone/god-mode.git
